* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
  }
  

  .background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(243deg, #fff 0%, #739bf2 48.89%, #04122f 126.85%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-up {
    position: absolute;
    left: 0;
  }
  
  .logo-center {
    position: absolute;
    width: 950px;
    top: 100px;
  }
  
  .logo-down {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .login-card {
    position: absolute;
    width: 430px;
    padding: 40px;
    background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.35),
          rgba(255, 255, 255, 0.35)
        )
        border-box,
      rgba(255, 255, 255, 0.2) padding-box;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid transparent;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-sizing: border-box;
    text-align: center;
  }
  
  .logo-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .guido-logo {
    width: 200px;
    max-width: 100%;
    margin: -25px;
  }
  
  .title {
    font-size: 16px;
    color: #333;
    margin: 20px 0 10px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .form-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .input {
    width: 300px;
    padding: 14px 18px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    font-size: 15px;
    color: #000;
    outline: none;
    transition: border 0.3s ease;
  }
  
  .input:focus {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.4);
  }
  

  .input + .field-note {
    display: none;
  }
  .input:focus + .field-note {
    display: block;
  }
  

  .field-note {
    font-size: 13px;
    color: #666;
    text-align: left;
    margin-top: -6px;
    padding-left: 5px;
    width: 300px;
  }
  
  .field-note-bottom {
    display: none; 
    font-size: 13px;
    color: #666;
    text-align: center;
    padding-left: 0;
    width: 300px;
    align-self: center;
    margin: -10px;
  }
  
  .submit-btn {
    width: 300px;
    display: flex;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 20px;
    background: #2564eb;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset,
      0px 0px 4px 0px #0d358c;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0d358c;
  }
  
  .bottom-note {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .signin-link {
    background: none;
    border: none;
    color: #2564eb;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
  }
  
  .signin-link:hover {
    text-decoration: none;
    opacity: 0.9;
  }
  
  .footer-logo {
    display: none;
  }
  
  @media (max-width: 768px) {
    .logo-up,
    .logo-down {
      display: none;
    }
  
    .logo-center {
      position: absolute;
      top: 60px;
      left: 47%;
      transform: translateX(-50%);
      width: 55vw;
      max-width: 250px;
    }
  
    .login-card {
      width: 85vw;
      max-width: 380px;
      padding: 5vw;
      z-index: 10;
    }
  
    .guido-logo {
      width: 40vw;
      max-width: 160px;
      margin-bottom: 10px;
    }
  
    .title {
      font-size: 3.5vw;
      margin-bottom: 10px;
    }
  
    .input {
      font-size: 3.5vw;
      padding: 2.5vw;
      width: 100%;
    }
  
    .submit-btn {
      padding: 3vw;
      font-size: 4vw;
      width: 100%;
    }
  
    .field-note {
      font-size: 3vw;
      margin-left: 20px;
      width: 100%;
    }
  
    .field-note-bottom {
      width: 80%;
      text-align: center;
      font-size: 3vw;
      margin: 18px auto 12px auto;
    }
  
    .bottom-note,
    .signin-link {
      font-size: 3.5vw;
    }
  
    .footer-logo {
      display: block;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 140px;
      height: auto;
      opacity: 0.8;
    }
  }
  